@using ITBanking.Core.Application.ViewModels
@model AdminVm



<div class="row">
  <dl>
    <dt>Transfers</dt>
    <dd>
      @Model.Transfers
    </dd>
    <dt>Transfers in the last 24 hours</dt>
    <dd>
      @Model.Transfer24Hours
    </dd>
    <dt>Payments</dt>
    <dd>
      @Model.Payments
    </dd>
    <dt>Payments in the last 24 hours</dt>
    <dd>
      @Model.Payment24Hours
    </dd>
    <dt>Products</dt>
    <dd>
      @Model.Products
    </dd>
    <dt>Clients</dt>
    <dd>
      @Model.Clients
    </dd>
    <dt>Active Clients</dt>
    <dd>
      @Model.ActiveClients
    </dd>
    <dt>Inactive Clients</dt>
    <dd>
      @Model.InactiveClients
    </dd>
  </dl>
</div>