@using ITBanking.Core.Application.ViewModels
@using ITBanking.Core.Application.Dtos.Account
@using Microsoft.AspNetCore.Http;
@using ITBanking.Core.Application.Helpers;
@inject IHttpContextAccessor _httpContext;
@model IEnumerable<ProductVm>
@{
  AuthenticationResponse? user = _httpContext.HttpContext.Session.Get<AuthenticationResponse>("user");
}

<div class="row">
  <table class="table table-dark table-striped table-hover text-center">
    <thead>
      <tr>
        <th>
          Principal
        </th>
        <th>
          Product
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
          Amount
        </th>
        @if (user.Roles.Where(x => x.ToString() == "Admin").Any())
        {
          <th>
            Add Amount
          </th>
          <th>
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr class="@item.IsPrincipal ? " text-success" : "text-danger">
          <td>
            @Html.DisplayFor(modelItem => item.IsPrincipal)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Type)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Amount)
          </td>
          @if (user.Roles.Where(x => x.ToString() == "Admin").Any()){
            <form asp-action="AddAmount" asp-controller="Product" asp-route-id="@item.Id">
              <td>
                <input type="number" name="amount" />
              </td>
              <td>
                <input type="submit" value="Add" class="btn btn-outline-success" />
              </td>
            </form>
          }
        </tr>
      }
    </tbody>
  </table>
</div>